.accordion-button {
  font-weight: bold;
}

.btn-group {
  width: 100%;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  font-style: italic;
  word-wrap: break-word;
  padding-left: 28px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.display-1 {
  text-align: center;
}
button:focus {
  outline: none !important;

}
.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
