body {
  background: linear-gradient(145deg, #0d47a1, #42a5f5);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.px-0 {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  color: white;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 2rem;
}
.accordion-button {
  font-weight: bold;
}

.btn-group {
  width: 100%;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  font-style: italic;
  word-wrap: break-word;
  padding-left: 22px;
  background-color: #cfe2ff4f;
  line-height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.display-1 {
  text-align: center;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: medium;
}
button:focus {
  outline: none !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
